* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
}

p {
    font-size: 1.5rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 30px;
    border-bottom: 1px solid #ccc;
}

.text-wrapper {
    background-color: #f5f5f5;
    padding: 8rem 1rem;
}

.text-wrapper h2 {
    margin-bottom: 1rem;
}

.text-wrapper p {
    max-width: 50ch;
}

.pokrewienstwo {
    border-bottom: 1px solid #ccc;
    margin: 2rem;
}

.pokrewienstwo h2 {
    margin-bottom: 1rem;
}

.pokrewienstwo p {
    margin-bottom: 1rem;
}

.pokrewienstwo ul {
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.badanie-ewolucji {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.ewolucja {
    border-bottom: 1px solid #ccc;
    margin: 2rem;
    display: flex;
}

.ewolucja h2 {
    margin-bottom: 1rem;
}

.ewolucja p {
    margin-bottom: 1rem;
}

.ewolucja ul {
    margin-left: 5rem;
    margin-bottom: 1rem;
}